<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="angularjs" version="1.5.5" targetFramework="net461" />
  <package id="angularjs.TypeScript.DefinitelyTyped" version="6.1.6" targetFramework="net461" />
  <package id="angular-loading-bar" version="0.8.0" targetFramework="net461" />
  <package id="angular-loading-bar.TypeScript.DefinitelyTyped" version="0.6.6" targetFramework="net461" />
  <package id="jQuery" version="2.2.3" targetFramework="net461" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="3.0.6" targetFramework="net461" />
  <package id="ngprogress.TypeScript.DefinitelyTyped" version="0.5.5" targetFramework="net461" />
</packages>